<?xml version="1.0"?>
<launch>

  <arg name="use_socketcan" default="true" />
  <arg name="use_kvaser" default="false" />
  <arg name="socketcan_device" default="can0" /> 

  <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="socketcan_bridge" if="$(arg use_socketcan)">
    <param name="can_device" value="$(arg socketcan_device)" />
    <remap from="received_messages" to="can_tx"/>
    <remap from="sent_messages" to="can_rx"/>
  </node>

  <node pkg="deeporange13_control" type="deeporange13_control_dbwnode" name="deeporange_dbw" output="screen">
    <param name="dbw_dbc_file" textfile="$(find deeporange13_control)/dbc/ROS_DO13.dbc" />
    <param name="use_ros_health" default=false />
    <param name="vehicle_trackwidth" default="2.6" />
  </node>

</launch>


<!-- <rosparam command="load" file="$(find warthog_control)/config/control.yaml" />
  <arg name="name" default="warthog"/>
  <arg name="sim" />

  <node if="$(arg sim)" name="controller_spawner" pkg="controller_manager" type="spawner"
        args="--timeout 1200 warthog_joint_publisher warthog_velocity_controller" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find warthog_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="warthog_velocity_controller/cmd_vel"/>
  </node> -->