<?xml version="1.0"?>
<launch>

  <arg name="use_socketcan" default="true" />
  <arg name="use_kvaser" default="false" />
  <arg name="socketcan_device" default="can0" />  <!-- vehicle's CAN1-->
  <arg name="rtk_check_timer" default="3.0"/> 
  <arg name="do_ns" default="/deeporange1314"/>  

 <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="socketcan_bridge" if="$(arg use_socketcan)">
    <param name="can_device" value="$(arg socketcan_device)" />
    <remap from="received_messages" to="can_tx"/>
    <remap from="sent_messages" to="can_rx"/>
  </node>


  <node pkg="deeporange13_control" type="deeporange13_control_dbwnode" name="deeporange_dbw" output="screen">
    <param name="rtk_check_timer" value="$(arg rtk_check_timer)" />
    <param name="do_ns" value="$(arg do_ns)" />
    <param name="dbw_dbc_file" textfile="$(find deeporange13_control)/dbc/ros_do13.dbc" />
    <!-- <param name="vehicle_trackwidth" default="2.6" /> -->
  </node>

</launch>
